<footer class="footer padding">
    <div class="footer-container padding">
        <img class="cookingPic" src="img/logo.png">
        <span>© 2022 Kochwelt </span>
    </div>
    <div class="footer-container">
        <div class="footer-child">
            <a href="datenschutz.html">Datenschutz</a>
            <a href="impressum.html">Impressum</a>
            <a href="kontakt.html">Kontakt</a>
        </div>
        <div>
            <img src="img/instagram.png">
            <img src="img/youtube.png">
            <img src="img/twitter.png">
        </div>


    </div>

</footer>